body{
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 60px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.wrapperwithlocal{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 60px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}


nav:first-of-type{
    text-decoration: none;
    background-image: linear-gradient(rgb(86, 224, 86), rgb(23, 170, 23));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav:last-of-type{
    background-color: rgb(23, 170, 23);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav li:hover {
    background-image: linear-gradient(rgba(23, 122, 23, 0.4), rgba(20, 75, 20, 0.4));
    border-radius: 10px;
}

.active{
    background-image: linear-gradient(rgba(23, 122, 23, 0.4), rgba(20, 75, 20, 0.4));
    border-radius: 10px;
}

nav > ul > li > a > img {
    height: 70px;
}

nav:first-of-type > ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
    line-height: 2;
    margin: 0;
}
nav > ul{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0;
    line-height: 4;
    margin: 0;
}

nav li{
    display: grid;
    justify-content: stretch;
    font-size: 25px;
    list-style-type: none;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1{
    text-align: center;
}

.centerh1{
    text-align: center;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    display: grid;
    justify-content: center;
    row-gap: 25px;
    padding: 20px;
    padding-top: 0;
}

h2{
    text-align: center;
}

main p{
    line-height: 1.7;
    font-size: 1.3rem;
    margin: 0;
}

main > img{
    width: 80vw;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

section{
    background-color: hsl(0, 0%,86%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

article{
    background-color: #dbdbdb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

section + div, article + div{
    display: grid;
    grid-template-rows: auto auto;
    gap: 25px;
}

section img, article img{
    width: 100%;
    border-radius: 15px;
}

figcaption{
    text-align: center;
    font-size: 110%;
}

video{
    width: 100%;
    border-radius: 15px;
}

table{
    width: 100%;
}

td, th, table{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    font-size: 113%;
}

tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

th:nth-child(1), td:nth-child(1){
    text-align: left;
    width: 10vw;
}

td:nth-child(2), th:nth-child(2){
    text-align: center;
}


td:nth-child(3), th:nth-child(3){
    text-align: right;
    width: 10vw;
}

caption{
    font-size: 150%;
}

dt, dd{
    font-size: 2.6ch;
    line-height: 1.7;
    margin: 0;
}

ol{
    margin: 0;
    padding-left: 25px;
}

ol > li{
    font-size: 3ex;
}

fieldset{
    margin: 0;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

fieldset > fieldset{
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.spalt5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

fieldset > fieldset > legend{
    text-align: left;
}

legend{
    font-size: 130%;
    text-align: center;
}

label{
    font-size: 130%;
}

fieldset > fieldset > label{
    font-size: 1.2em;
    text-align: center;
}

input, textarea{
    margin: 0;
    border-radius: 5px;
}

input:required:invalid{
    border: 2px solid red;
}

input:required:valid{
    border: 2px solid rgb(10, 236, 10);
}

button{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

footer{
    grid-area: footer;
    background-image: linear-gradient(rgb(23, 170, 23), rgb(14, 77, 14));
    border-radius: 10px;
    margin: 0;
}

footer p{
    text-align: center;
    margin: 0;
    padding-top: 13px;
}

a:link{
    color:inherit
}

a:visited{
    color:inherit
}

a:focus{
    color:inherit
}

a:hover{
    color:inherit
}

a:active{
    color:inherit
}

@media (max-width: 876px){
    nav ul li a{
        font-size: 87%;
    }
}

@media (min-width: 800px){
    body{
        height: 99vh;
        margin: 0;
    }

    .wrapper{
        display: grid;
        grid-template-rows: 160px auto 60px;
    }

    .wrapperwithlocal{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 240px auto 60px;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    

    nav:first-of-type > ul{
        display: grid;
        grid-template-columns: 1fr repeat(4, 2fr);
        line-height: 3;
        gap: 50px;
    }

     nav > ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        line-height: 3;
        gap: 50px;
    }

    header{
        display: grid;
        grid-template-rows: 80px 80px;
    }
    
    
    h1{ 
        text-align: left;
        padding-left: 15px;
    }

    nav li a:first-of-type{   
        height: 80px;
    }

    nav li{
        height: 80px;
    }

    main > img{
        width: 80vh;
    }

    main{
        overflow-y: scroll;
    }
    
    section{
        height: min-content;
    }

    article{
        height: min-content;
    }

    #spalt2 main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }

    #spalt3 main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    
    td, th, table{
        font-size: 130%;
    }
}
